extends layout.pug

block header
  title Browse recipes

block content
  .py-5.text-center
    h1.bd-title Browse recipes!
  .row
    table.table
      thead
        tr
          th(scope='col') Title
          th(scope='col') Description
          th(scope='col') Preparation Time
      tbody
        each recipe in recipes
          tr
            td 
              a(href=`${recipe.recipe_id}`) #{recipe.title}
            td #{recipe.short_description}
            td #{recipe.preparation_time}
    