extends layout.pug

block header
  title Browse recipes

block content
  .py-3.text-center
    h2.bd-title Pick a recipe
  .row
    table.table
      thead
        tr
          th(scope='col') Title
          th(scope='col') Description
          th(scope='col') Preparation Time
      tbody
        each recipe in recipes
          tr
            td 
              a(href=`recipes/${recipe.recipe_id}` id='title' name='title') #{recipe.title}
            td(id='short-description' name='short_description') #{recipe.short_description}
            td(id='preparation-time' name='preparation_time') #{recipe.preparation_time}
    